#editor {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    font-family: Arial, sans-serif;
}

button {
    margin-right: 5px;
}

label {
    margin-right: 5px;
}

select {
    padding: 3px;
}

/* Дополнительные стили для таблиц */
table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 5px;
}

th {
    background-color: #f0f0f0;
}

/* Дополнительные стили для выделенных элементов */
.ProseMirror-selectednode {
    background-color: #cce8ff;
}

.ProseMirror-selectednode:after {
    content: "";
    display: table;
    clear: both;
}

.ProseMirror-selectednode table {
    border-collapse: collapse;
}

.ProseMirror-selectednode td,
.ProseMirror-selectednode th {
    border: 1px solid #999;
    padding: 5px;
}